* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-my-own-color {
    color: #7c9ab7 !important;
    font-weight: bold;
    text-decoration: none;
}

.text-my-own-color:hover {
    text-decoration-line: underline;
}

.lead { 
    font-size: 1rem;
    margin: 10px 0;
}

.error {
    border-bottom: 2px solid red !important;
}

.msg {
    border: 2px solid #7c9ab7 !important;
    border-radius: 3px !important;
    padding: 10px !important;
    text-align: center !important;
    font-weight: 900!important;
}

.none {
    display: none;
}

.form-text {
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px !important;
}

.logout {
    color:#7c9ab7 !important;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
